#header {
    text-align: center;
    background-color: #055005;
    color: white;
    padding: 10px;
}

#search-btn {
    padding: 5px;
    background: #2196F3;
    color: white;
    border-radius: 6px;
}

#form {
    margin-left: 20px;
}